article {
  padding: 1rem 2rem;
  align-self: center;
  align-content: center;
}
.drinks_img {
  margin-top: 2rem;
  cursor: pointer;
}
.drinks_info div {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#liste {
  display: grid;
  grid-auto-flow: dense;
  margin: auto;
  max-width: 1600px;
}

.navn {
  font-family: "bilo", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.citat {
  font-family: "bilo", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-align: center;
  margin:2vw;
}
.tekst {
  font-family: "bilo", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  max-width: 60ch;
  font-size: 1.3rem;
}

/*-------------singleview--------*/
.drinks{
  padding:1vw;
  margin:auto;
}
.beskrivelse{
  font-family: "bilo", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin:2vw;
  padding-bottom: 5vw;
}


.drinks .navn {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin:0;

 
}

.drinks .billede{
 margin:10vh auto;
 width: 60vw;
}

/* Snakker til h3 i galleri, hver anden pga grid. Snakker til articles child */

/* Gin & Tonic */

article:nth-child(2) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--lightblue);
}

.ginTonic{
  color: var(--lightblue);
}

/* Negroni */

article:nth-child(4) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--red);
}

#negroni{
  color: var(--red);
}

/* Summer Kiss */

article:nth-child(6) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--orange);
}

#summerKiss{
  color: var(--orange);
}

/* Fresh me up */

article:nth-child(8) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #f5dc66;
}
#freshMeUp{
  color: #f5dc66;
}
/* Snake Martini */

article:nth-child(10) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #0f866e;
}
#snakeMartini{
  color: #0f866e;
}

/* Whiskey Sour */

article:nth-child(12) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #8b4bd5;
}

#whiskySour{
  color: #8b4bd5;
}

/*Espresso Martini */

article:nth-child(14) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #3d2c22;
}

#espressoMartini{
  color: #3d2c22;

}

/*Mojito */

article:nth-child(16) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #00d1a7;
}

#mojito{
  color: #00d1a7;

}

/*Dark N stormy */

article:nth-child(18) h3 {
  font-family: "bilo", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: grey;
}

#darkNStormy{
  color: grey;

}

/* -------------------------------Button filtrering---------------------------------- */

button {
  border: none;
  color: black;
  padding: 30px 30px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  background-color: white;
  cursor: pointer;
  font-family: "Bilo";
  margin-left: -15px;
}

button::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

button:hover::after {
  width: 100%;
}

.valgt {
  text-decoration: underline 4px solid black;
}

h2 {
  color: var(--red);
}

@media (min-width: 600px) {
  button {
    border: none;
    color: black;
    padding: 32px 45px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    background-color: white;
    cursor: pointer;
    font-family: "Bilo";
    margin-left: -15px;
  }

  #liste {
    grid-template-columns: 1fr 1fr;
  }

  article {
    margin-bottom: 3rem;
  }

  article:nth-child(4n-1) {
    grid-column: 2;
    justify-self: right;
  }

  .drinks_img img {
    width: 24vw;
  }

  .citat {
    text-align: left;
    font-size: 1.3rem;
  }
  .navn {
    text-align: center;
    font-family: "bilo", sans-serif;
    font-weight: 450;
    letter-spacing: 1px;
    font-size: 1.7rem;
  }

  /*------------single view web--------------*/
  .drinks{
    margin-top:12vh;
  }
  .gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

 .gridcontainer .info{
  align-self: center;
  align-content: center;
 }
  
  .drinks .billede{
    margin:0 auto;
   width: 24vw;
  }

  .drinks .navn {
    position: absolute;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    left:32%;
    top:18%;
  }

  .drinks .citat{
    font-size: 1.5rem;
    margin:2vw;
    
  }

  .beskrivelse{ 
    font-size: 1.3rem;
    padding-bottom: 10vh;
  }

}
