article {
  padding: 1rem 2rem;
  align-self: center;
  align-content: center;
}
.drinks_img {
  margin-top: 2rem;
  cursor: pointer;
}
article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#liste {
  display: grid;
  grid-auto-flow: dense;
  margin: auto;
  max-width: 1600px;
}

.navn {
  font-family: "bilo", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.tekst {
  font-family: "bilo", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  max-width: 60ch;
  font-size: 1.3rem;
}

/* -------------------------------Button filtrering---------------------------------- */

button {
  border: none;
  color: black;
  padding: 30px 30px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  background-color: white;
  cursor: pointer;
  font-family: "Bilo";
  margin-left: -15px;
}

button::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

button:hover::after {
  width: 100%;
}

.valgt {
  text-decoration: underline 4px solid black;
}

h2 {
  color: var(--red);
}

@media (min-width: 600px) {
  button {
    border: none;
    color: black;
    padding: 32px 45px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    background-color: white;
    cursor: pointer;
    font-family: "Bilo";
    margin-left: -15px;
  }

  #liste {
    grid-template-columns: 1fr 1fr;
  }

  article {
    margin-bottom: 3rem;
  }

  article:nth-child(4n + 1) {
    justify-self: left;
  }

  article:nth-child(4n-1) {
    grid-column: 2;
    justify-self: right;
  }

  .drinks_img img {
    width: 24vw;
  }

  article .citat {
    text-align: left;
    font-size: 1.2rem;
  }
  .navn {
    font-family: "bilo", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.5rem;
  }
}
