.images_om {
  height: 50%;
  width: 50%;
}

.images_om_one {
  height: 50%;
  width: 50%;
  padding-right: 5rem;
}

.first_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.second_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.wrapper {
  padding: 6%;
}
