#om_os hr {
  border: 0;
  border-top: 1px solid;
  color: black;
}

#image_snake {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  gap: 10px;
}

.details {
  gap: 10px;
}

#om_os h1 {
  font-family: "ethnocentric", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.125;
  margin-bottom: 10px;
}

#om_os h2,
om_os h3,
om_os h4 {
  font-family: "nasalization", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.125;
  color: black;
}

#om_os h2 {
  font-family: "nasalization", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 39px;
  margin-bottom: 10px;
}

#om_os h3 {
  font-family: "nasalization", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

#om_os h4 {
  font-family: "nasalization", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

#om_os p {
  font-family: "nasalization", sans-serif;
  line-height: 1.4;
  color: black;
}

#om_os a {
  font-family: "nasalization", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

#om_os .colors {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}

#om_os {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#second_section {
  padding-right: 5%;
}
