h3 {
  font-family: "Bilo", sans-serif;
  font-size: clamp(2rem, 16vw - 5rem, 5rem);
  display: flex;
  justify-content: center;
  color: var(--pink);
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: black;
}

button {
  border: none;
  font-family: "bilo";
  color: black;
  padding: 15px 32px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(1rem, 5.3vw - 1.3rem, 2rem);
}

button::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

button:hover::after {
  width: 50%;
}

#tekst {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#tekst button {
  grid-column: 2/4;
}

@media (min-width: 600px) {
  #tekst {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #tekst button {
    grid-column: 2/4;
  }
}
